/* remover as margens */
* {

    box-sizing: border-box;
}

/* @media */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body {
        background-color: #ff0000;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    body {
        background-color: #00ff00;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    body {
        background-color: #0000ff;
        color: #fff;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    body {
        background-color: #000;
        color: #fff;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        background-color: #ff0;
    }
}

/* Propriedades para impressão  *comando -screen- não aparece na impressão */ 
@media only print {
     h1 {
        font-size: 30px;
     }
}


/* orientation */

div {
    width: 100px;
    height: 100px;
    border: 3px solid #000;
}

@media (orientation: landscape) {
     body {
        flex-direction: row;
     }
}

@media (orientation: portrait) { 
    body {
        flex-direction: column;
     }
}



/* Imagens Responsivas *OUTROEXEMPLO* */ 
img {
    width: 400px;
    height: 400px;
    object-fit: cover; /* contain - fill - none - scale-down */
}


